<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
   
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bhavika.css">
</head>
<body>
     <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                   <!-- <a class="navbar-brand" href="#">A02</a>-->
                  </div>
                  <div float="" id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" role="form">
                      <div class="form-group">
          <li><a href="home">About Me</a></li>
                      </div>
                      <div class="form-group">
          <li><a href="choice">My Choice</a></li>
                      </div>
                      <div class="form-group">
          <li><a href="contact">Contact Me</a></li>
                      </div>
          
          
                    </form>
                  </div><!--/.navbar-collapse -->
                </div>
              </nav>
          
    <hr>
    <h2> Addition and Subtraction of Two Numbers  </h2>
     <hr>
    <form> 
    Give 1st Number : <input type="text" id="first" maxlength="4"/ size="4"><br> 
    Give 2nd Number : <input type="text" id="second" maxlength="4" size="4" />
    <br><br>
    <input type="button" onClick="AdditionBy()" Value="Addition" 
    title="Click here to find the sum of the two numbers." />  
    <input type="button" onClick="SubtractionBy()" 
    title="Click here to find the differece of the two numbers." 
    Value="Subtraction" /> 
    </form> <br><br>
    <p>The Final Result is : 
    <span id = "result"></span> 
    </p> 
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="caculator.js"></script>
  <a href="choice"></a>
</body>