<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="bhavika.css">
</head>
<body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                   <!-- <a class="navbar-brand" href="#">A02</a>-->
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" role="form">
                      <div class="form-group">
          <li><a href="home">About Me</a></li>
                      </div>
                      <div class="form-group">
          <li><a href="choice">My Choice</a></li>
                      </div>
                      <div class="form-group">
          <li><a href="contact">Contact Me</a></li>
                      </div>
                      <li >
                        <a href="/header">GuestBook</a>
                      </li>
          
          
                    </form>
                  </div><!--/.navbar-collapse -->
                </div>
              </nav>
          
          <!--/page content -->
              <h1 class="title-head">Contact Me</h1>
          <div class="sm-cont">
              <a href="https://github.com/BhavikaRao" target="_blank">
                <img id="sm-icon" src="images/github.png">
              </a>
          
             <a href="https://bitbucket.org/Bhavika6/" target="_blank">
               <img id="sm-icon" src="images/bitbucket.png" >
              </a>
          
             <a href="https://www.linkedin.com/in/bhavika-padidala-b95358158" target="_blank">
              <img id="sm-icon" src="images/linkedin.png" >
              </a>
             </div>
              <p class="para-txt">Have questions ? No Worries we had love to hear from you. This contact page is created for those who have general questions related to this site, reporting technical problems, and inquiries related to advertising .
          
          If you want to give a feedback , suggestion , question, or helping regarding this site improvements please write to us. We value all of our readers and we will try to get back to each email sent.</p>
              
          
          
          <div class="form-container">
            <form action="/action_page.php">
              <label for="fname">First Name</label>
              <input type="text" id="fname" name="firstname" placeholder="Your name..">
          
              <label for="lname">Last Name</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          
              <label for="lname">e-mail</label>
              <input type="text" id="lname" name="lastname" placeholder="enter email..">
              
              <label for="lname">Website</label>
              <input type="text" id="lname" name="lastname" placeholder="website..">
          
              <label for="country">Country</label>
              <select id="country" name="country">
                <option value="australia">Australia</option>
                <option value="canada">Canada</option>
                <option value="usa">USA</option>
              </select>
          
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          
              <input type="submit" value="Submit">
            </form>
          </div>
          
          
          
                <footer>
                  <p class="footer-txt">Design &amp; Developed By Bhavika Padidala</p>
                </footer>