<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
  
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/home">About Me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/header">GuestBook</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/choice">My Choice</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Me</a>
      </li>
    </ul>

  </nav>
</head>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<div class="panel-body">
<%= entry.content %>
<div>
<a href="/new-entry">Add Another!</a>
</div>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<style>
header {
    background-color:lightblue;
}
a {
    color:chartreuse;
}
</style>