<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Index</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="bhavika.css">
</head>
<body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">A02</a>-->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
<li><a href="home">About Me</a></li>
            </div>
            <div class="form-group">
<li><a href="choice">My Choice</a></li>
            </div>
            <div class="form-group">
<li><a href="contact">Contact Me</a></li>
            </div>
            <li >
              <a href="/header">GuestBook</a>
            </li>

          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<!--/page content -->
    <h1 class="title-head">Introduction</h1>
    
  <div class="img-sec"> <img class="act-img" src="images/bhavika.jpg" height="115" width="115"><h2 class="name-head">Bhavika Padidala</h2></div>

    
<h3 id="sub-head" class="title-head" >1. Current Year</h3>
<ul class="square">
<li>I am a newly enrolled student for masters at NWMSU for spring 2018.</li>
</ul>
  
<h3 id="sub-head" class="title-head" >2. Background</h3>
<ul class="square">
<li>I'm from Warangal, India.</li>
<li>I have my bachelors degree in Information Technology from J.B.Institute of Engineering and Management.</li>
<li>I received my bachelor's degree in April, 2016.</li>
<li>During my Under Graduation I was offered a job in Ultimo Software Solutions.</li>
<li>It is a U.S. based company located in Hyderabad.</li>
<li>Our team worked for a U.S. based client Novartis.</li>
<li>We worked for few projects like construction of interfaces using dellboomi and Integration of internet of things with salesforce.</li>
<li>I quit my job in April 2017 to continue my studies in the field of applied computer science.</li>
</ul>

<h3 id="sub-head-long" class="title-head" >3. Plans</h3>
<ul class="square">
<li>I have a long list of future plans, but primarily I want to be a pivotal member or a founder of a start up company based on Internet of things, Mulesoft.</li>
<li>I want to spread it globally and establish it with some strong content.</li>
</ul>

<h3 id="sub-head-long" class="title-head" >4. Hobbies</h3>
<ul class="square">
<li>I love to watch and study World Cinema.</li>
</ul>

<p style="padding: 5px; text-align: right; font-weight: bold; margin:0px">THANK YOU.</p>
<p style="padding: 5px; text-align: right; font-weight: bold; margin:0px">Bhavika Padidala</p>
<p style="padding: 5px; text-align: right; font-weight: bold; margin:0px">e-mail Id: bhavikapadidala@gmail.com</p>

<section id="sec-vid">

<iframe width="100%" height="520" src="https://www.youtube.com/embed/fbUPzpCB2KM" frameborder="1" encrypted-media" allowfullscreen></iframe>
</section>


      <footer>
        <p class="footer-txt">Created &amp; Developed By Bhavika Padidala</p>
      </footer>