<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Index</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="bhavika.css">
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <!-- <a class="navbar-brand" href="#">A02</a>-->1
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
<li><a href="home">About Me</a></li>
        </div>
        <div class="form-group">
<li><a href="choice">My Choice</a></li>
        </div>
        <div class="form-group">
<li><a href="contact">Contact Me</a></li>
        </div>
        <li >
          <a href="/header">GuestBook</a>
        </li>

      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!--/page content -->


<div class="img-sec" id="act-image-index"> <img class="act-img"  src="images/bhavika.jpg" height="115" width="115"><h2 class="name-head">Bhavika Padidala</h2></div>




<section id="sec-vid">

<iframe width="100%" height="520" src="https://www.youtube.com/embed/fbUPzpCB2KM" frameborder="1" encrypted-media" allowfullscreen"></iframe>
</section>


  <footer>
    <p class="footer-txt">Created &amp; Developed By Bhavika Padidala</p>
  </footer>