<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
    </style>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bhavika.css">
  
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li >
          <a  href="/home">About Me</a>
        </li>
        <li >
          <a  href="/header">GuestBook</a>
        </li>
        <li >
          <a  href="/choice">My Choice</a>
        </li>
        <li >
          <a  href="/contact">Contact Me</a>
        </li>
      </ul>
  
    </nav>
    </head>
  <h2>Sign in here!</h2>
  <form method="post" role="form">
  <div class="form-group">
  <label for="title">Title</label>
  <input type="text" class="form-control" id="title"
    name="title" placeholder="Entry title" required></div>
  
  <div class="form-group">
  <label for="content">Entry text</label>
  <textarea class="form-control" id="body" name="body"
  placeholder="Love Express! It’s a great tool for
  building websites." rows="3" required></textarea></div>
  
  <div class="form-group">
  <input type="submit" value="Post entry" class="btn btn-primary"></div>
  </form>
  