body{
background-color: #73ddd1; 
text-decoration: None;
 margin-bottom: 10px; color: purple;
}
article{
Background-color: orange; text-decoration: None; border: 5px solid MediumSeaGreen; margin-bottom: 10px;
 }
footer{
	background-color: pink;color: gray; font-size: 14px; border: 5px solid MediumSeaGreen; margin-bottom: 10px;
}
#past-section{
	color: Orange; background-color: Tomato;
}
#future-section{
	color: DodgerBlue; background-color: Violet;
}
.section-header{
color: gray; text-decoration: None; border: 5px solid MediumSeaGreen; background-color: pink;
}
.aside-header{
	color:gray; border: 5px solid MediumSeaGreen; text-decoration: None; background-color: pink; 
}
