
body{
background-color: aqua;
color: black;
}



header{
background-color: aqua;
color: maroon;
border: 4px double SlateBlue;
text-align: justify;
text-decoration: underline;
text-transform: uppercase;
font-family: Georgia;
}

footer{
background-color: red;
border: 2px solid black;
color: white;
text-align: center;
}

#past-section{
	background-color: LightBlue;
	color: black;
	font-family: Arial;
	border: inset;
	padding: 25px 25px 25px 25px;
}

#future-section{
  background-color: orange;
  color: gray;
  font-family: verdana;
  border: outset;
  padding: 25px 25px 25px 25px;
}

.aside-header{
	background-color: MediumSeaGreen;
	color: white;
	font-family: "Courier New";
	padding: 5px 5px 5px 5px;
	border: 1px dashed yellow;
}
.section-header{
background-color: tomato;
color: white;
text-align: justify;
border: 2px ridge green;
padding: 5px 5px 5px 5px;
}

#others{
	background-color: gray;
	color: orange;
	font-family: "Lucid Console";
	border-style: dotted;
	padding: 25px 25px 25px 25px;
}
